
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-3-mYg {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #f1e4d1;

  .auto-group-ggxn-65A {
    width: 184.4rem;
    height: 20.5rem;
    position: absolute;
    left: 2.6rem;
    top: 87.6rem;
    display: flex;
    align-items: center;

    .auto-group-rgbw-bXi {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 127.447rem 1.9rem 0rem;
      align-items: flex-end;
      display: flex;

      .logout-2-vK6 {
        margin-bottom: 1.8rem;
        width: 6.8532rem;
        height: 9rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .k-yap-eF6 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.6532rem;
        max-width: 7.3rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .auto-group-zdly-k3E {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 2.1rem 2.7rem 0rem 0rem;
      align-items: center;

      .rectangle-10-GnG {
        margin-right: 0.3rem;
        width: 10.2rem;
        height: 10.6rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .yemek-nerisi-al-b3r {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 13.5rem;
      }
    }
    .auto-group-s9zt-sGG {
      margin: 4.5rem 4.2rem 2.3rem 0rem;
      width: 13.3rem;
      height: calc(100% - 6.8rem);
      position: relative;
      flex-shrink: 0;

      .rectangle-2-Bnk {
        width: 13.3rem;
        height: 10.6rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .profil-j3a {
        top: 9.8rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 3.9rem;
        left: 3.1rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        width: 7.8rem;
        position: absolute;
      }
    }
    .auto-group-chwc-EW8 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 5.4rem 0rem 2.3rem 0rem;
      height: calc(100% - 7.7rem);

      .icons8-home-50-1-mW4 {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.1rem;
        width: 9rem;
        height: 8.9rem;
        cursor: pointer;
        object-fit: cover;
      }
      .ana-sayfa-GBv {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
  }
  .auto-group-zlrr-ztc {
    border-radius: 2.5rem;
    padding: 2.1rem 133.7rem 1.8rem 1.8rem;
    height: 10.4rem;
    top: 7rem;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%, #3b6bb2 100%);
    box-sizing: border-box;
    width: 165.8rem;
    position: absolute;
    left: 12.9rem;
    border: solid 0 #000000;

    .rectangle-13-SVi {
      margin-right: 1.8rem;
      width: 6.8rem;
      height: 6.5rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 4.5rem;
      flex-shrink: 0;
    }
    .ne-aryorsun--xDA {
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.6100000143);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-cpf2-oUg {
    height: 6.8rem;
    position: absolute;
    left: 12.9rem;
    top: 30.5rem;
    display: flex;
    align-items: center;
    width: 165.8rem;

    .auto-group-huag-LDi {
      height: 100%;
      font-size: 3.2rem;
      line-height: 1.2125;
      color: #000000;
      justify-content: center;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      margin-right: 54.2rem;
      font-weight: 400;
      align-items: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
      border-radius: 2.5rem;
      width: 55.8rem;
      white-space: nowrap;
    }
    .auto-group-pq1e-yGg {
      display: flex;
      flex-shrink: 0;
      width: 55.8rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.2rem;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
      height: 100%;
      justify-content: center;
      border-radius: 2.5rem;
      white-space: nowrap;
      align-items: center;
    }
  }
  .line-1-EiQ {
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
    left: 3.9rem;
    top: 50.7rem;
    background-color: #000000;
  }
  .line-6-tnx {
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
    left: 115.5rem;
    top: 50.3rem;
  }
  .line-7-dkY {
    position: absolute;
    left: 115.5rem;
    top: 61.3rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
  }
  .line-8-aQt {
    top: 72.3rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
    left: 115.5rem;
  }
  .line-9-8SQ {
    position: absolute;
    left: 115.5rem;
    top: 83.3rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
  }
  .line-2-G2p {
    left: 3.9rem;
    top: 61.7rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
  }
  .line-3-PdE {
    position: absolute;
    left: 3.9rem;
    top: 72.7rem;
    background-color: #000000;
    width: 72.4rem;
    height: 0.1rem;
  }
  .line-4-w8x {
    width: 72.4rem;
    height: 0.1rem;
    position: absolute;
    left: 3.9rem;
    top: 83.7rem;
    background-color: #000000;
  }
  .auto-group-qzt2-Ueg {
    width: 183.4rem;
    height: 7.4rem;
    position: absolute;
    left: 4.5rem;
    top: 42.3rem;
    display: flex;
    align-items: center;

    .halanm-yumurta-1-tam-50g-cF6 {
      flex-shrink: 0;
      margin: 0.6rem 20.9rem 0rem 0rem;
      max-width: 30.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';

      .halanm-yumurta-1-tam-50g-cF6-sub-0 {
      }
      .halanm-yumurta-1-tam-50g-cF6-sub-1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .kcal-eb6 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.5rem 0.7rem 0rem;
    }
    .icons8-add-50-2-13-Zi4 {
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 39.2rem 0.8rem 0rem;
      width: 6.6rem;
    }
    .patates-kzartmas-1-porsiyon-75g-V5v {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.6rem 21.7rem 0rem 0rem;
      max-width: 29.3rem;

      .patates-kzartmas-1-porsiyon-75g-V5v-sub-0 {
      }
      .patates-kzartmas-1-porsiyon-75g-V5v-sub-1 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .kcal-GVz {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0.7rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
    }
    .icons8-add-50-2-9-8HJ {
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-6nqa-Fcp {
    width: 183.4rem;
    height: 8.5rem;
    position: absolute;
    left: 4.5rem;
    top: 52.3rem;
    display: flex;
    align-items: center;

    .beyaz-ekmek-1-dilim-28g-aQC {
      margin: 1.7rem 29.1rem 0rem 0rem;
      max-width: 21.9rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;

      .beyaz-ekmek-1-dilim-28g-aQC-sub-0 {
      }
      .beyaz-ekmek-1-dilim-28g-aQC-sub-1 {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .kcal-Zmv {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.5rem 1.8rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .icons8-add-50-2-14-tZJ {
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 39.2rem 0.7rem 0rem;
      width: 6.6rem;
    }
    .mercimek-orbas-1-kase-300g-DLg {
      margin: 1.7rem 23.3rem 0rem 0rem;
      max-width: 27.4rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;

      .mercimek-orbas-1-kase-300g-DLg-sub-0 {
      }
      .mercimek-orbas-1-kase-300g-DLg-sub-1 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .kcal-Ko2 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 2.6rem 1.2rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .icons8-add-50-2-10-3yv {
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.9rem;
    }
  }
  .auto-group-p1il-BqE {
    width: 183.4rem;
    height: 8.6rem;
    position: absolute;
    left: 4.5rem;
    top: 63.3rem;
    display: flex;
    align-items: center;

    .muz-1-adet-150g-KRe {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 1.8rem 36.1rem 0rem 0rem;
      max-width: 14.9rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;

      .muz-1-adet-150g-KRe-sub-0 {
      }
      .muz-1-adet-150g-KRe-sub-1 {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
      }
    }
    .kcal-x7E {
      flex-shrink: 0;
      margin: 0rem 1.7rem 1.5rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .icons8-add-50-2-15-szt {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 39.1rem 0.8rem 0rem;
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
    }
    .tavuk-gspimi-1-dilim-58g-DJ4 {
      max-width: 31.1rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 1.4rem 19.4rem 0rem 0rem;

      .tavuk-gspimi-1-dilim-58g-DJ4-sub-0 {
      }
      .tavuk-gspimi-1-dilim-58g-DJ4-sub-1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .kcal-Pbr {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.4rem 2.7rem 0rem;
    }
    .icons8-add-50-2-11-7nk {
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 2rem;
      width: 6.6rem;
    }
  }
  .auto-group-s4ww-eng {
    align-items: flex-start;
    width: 183.4rem;
    height: 8.4rem;
    position: absolute;
    left: 4.5rem;
    top: 74.6rem;
    display: flex;

    .st-1-bardak-250g-m6c {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 1.6rem 33rem 0rem 0rem;
      max-width: 18rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;

      .st-1-bardak-250g-m6c-sub-0 {
      }
      .st-1-bardak-250g-m6c-sub-1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .kcal-iAG {
      margin: 1.2rem 1.7rem 0rem 0rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .icons8-add-50-2-16-1v4 {
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.3rem 39.2rem 0rem 0rem;
    }
    .elma-1-tam-90g-JuA {
      flex-shrink: 0;
      margin: 1.6rem 37.1rem 0rem 0rem;
      max-width: 13rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';

      .elma-1-tam-90g-JuA-sub-0 {
      }
      .elma-1-tam-90g-JuA-sub-1 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .kcal-Lax {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.8rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .icons8-add-50-2-12-coN {
      vertical-align: top;
      flex-shrink: 0;
      width: 6.6rem;
      height: 6.6rem;
      object-fit: cover;
    }
  }
}
