
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-3-YCC {
  overflow: hidden;
  display: flex;
  background-color: #f1e4d1;
  box-sizing: border-box;
  padding: 6.3rem 0rem 1.8rem 2.6rem;
  width: 100%;
  position: relative;
  align-items: center;
  flex-direction: column;

  .auto-group-rkgu-eW8 {
    font-weight: 400;
    display: flex;
    font-size: 4.8rem;
    line-height: 1.2125;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 0rem 14.4rem 5.2rem 9.2rem;
    height: 10.4rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    justify-content: center;
    border-radius: 2.5rem;
    width: calc(100% - 23.6rem);
    align-items: center;
    border: solid 0 #000000;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%, #3b6bb2 100%);
  }
  .auto-group-q2ut-3oA {
    margin: 0rem 5.2rem 0rem 2.8rem;
    width: calc(100% - 8rem);
    display: flex;
    column-gap: 25.6rem;
    align-items: flex-end;
    flex-shrink: 0;

    .oip-1-AMz {
      width: 43.4rem;
      height: 46.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .yourt-1-hsi {
      width: 43.4rem;
      height: 46.2rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .salata-1-3wa {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.5rem;
      width: 43.4rem;
      height: 46.2rem;
      object-fit: cover;
    }
  }
  .auto-group-ckit-aAp {
    height: 4.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0rem 3.6rem 2.7rem;
    width: calc(100% - 2.7rem);

    .auto-group-d4ag-TEc {
      margin-right: 3.7rem;
      width: 145.2rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .izgara-tavuk-2-dilim-200g-xhA {
        width: 98.6rem;
        top: 0;
        font-size: 4rem;
        line-height: 1.2125;
        white-space: nowrap;
        height: 4.9rem;
        position: absolute;
        left: 0;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .yourt100g-FAU {
        left: 78.7rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.9rem;
        position: absolute;
        top: 0;
        color: #000000;
        width: 66.5rem;
      }
    }
    .salata1-kase-8EG {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
    }
  }
  .auto-group-rnsn-GLU {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 17.2rem 5.6rem 15.4rem;
    width: calc(100% - 32.6rem);
    display: flex;

    .kcal-Pvt {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 56.9rem;
    }
    .kcal-KZe {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 53.4rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .kcal-SPN {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 400;
    }
  }
  .auto-group-xjkv-MFS {
    flex-shrink: 0;
    margin-right: 5rem;
    width: calc(100% - 5rem);
    height: 18.6rem;
    display: flex;
    align-items: center;

    .auto-group-1dxg-6D2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      align-items: flex-end;

      .logout-1-rCC {
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 6.8532rem;
        height: 9rem;
      }
      .k-yap-z3W {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.6532rem;
        max-width: 7.3rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .auto-group-qf8g-JZz {
      padding: 4.5rem 0rem 0.4rem 143.647rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-szme-qK2 {
        position: relative;
        flex-shrink: 0;
        margin-right: 4.2rem;
        width: 13.3rem;
        height: 100%;

        .rectangle-18-xPe {
          width: 13.3rem;
          height: 10.6rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .profil-rjv {
          height: 3.9rem;
          top: 9.8rem;
          font-size: 3.2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 7.8rem;
          position: absolute;
          left: 3.1rem;
          line-height: 1.2125;
          color: #000000;
        }
      }
      .auto-group-9v6q-uTJ {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .icons8-home-50-2-4qz {
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.1rem;
          width: 9rem;
          height: 8.9rem;
          cursor: pointer;
          object-fit: cover;
        }
        .ana-sayfa-Nbn {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
}
