
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-2-kbv {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #f1e4d1;
  box-sizing: border-box;
  padding-right: 10.8rem;
  width: 100%;
  overflow: hidden;

  .auto-group-qcmj-ty2 {
    margin-right: 9.3rem;
    width: 90rem;
    height: 108rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-18-2pL {
      height: 108rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #d9d9d9;
      width: 18rem;
    }
    .d47427e7-6547-4c3d-98c1-49933c1359b2-1-P96 {
      height: 108rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 90rem;
    }
  }
  .auto-group-det6-WjW {
    height: 88.7rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 2.7rem;
    width: 81.9rem;

    .auto-group-eywn-1wA {
      align-items: center;
      width: 75.6rem;
      height: 8.4rem;
      position: absolute;
      left: 6.3rem;
      top: 0;
      display: flex;

      .auto-group-y4fe-Mk8 {
        background-color: rgba(59, 107, 178, 0.5699999928);
        border-radius: 6rem;
        height: 100%;
        align-items: center;
        border: solid 0.1rem #f1e4d1;
        justify-content: center;
        box-sizing: border-box;
        margin-right: 20.4rem;
        color: #000000;
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        width: 27.6rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-srkg-a76 {
        align-items: center;
        border: solid 0.1rem #f1e4d1;
        box-sizing: border-box;
        font-size: 3.6rem;
        font-weight: 400;
        background-color: rgba(59, 107, 178, 0.5699999928);
        line-height: 1.2125;
        justify-content: center;
        white-space: nowrap;
        border-radius: 6rem;
        flex-shrink: 0;
        width: 27.6rem;
        height: 100%;
        display: flex;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-hqly-SQC {
      height: 8.4rem;
      left: 23.9rem;
      border: solid 0.1rem #f1e4d1;
      border-radius: 6rem;
      top: 80.3rem;
      font-size: 3.6rem;
      font-family: Inter, 'Source Sans Pro';
      background-color: rgba(59, 107, 178, 0.5699999928);
      width: 27.6rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
    }
    .line-10-GPE {
      left: 0;
      top: 19.2rem;
      background-color: #000000;
      width: 75.4rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-11-1Lp {
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 28.6rem;
      background-color: #000000;
      width: 75.4rem;
    }
    .line-12-x1A {
      top: 37.4rem;
      background-color: #000000;
      width: 75.4rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
    }
    .auto-group-74oe-ghr {
      left: 0;
      top: 46rem;
      border-top: solid 0.1rem #000000;
      box-sizing: border-box;
      width: 75.4rem;
      height: 0.1rem;
      position: absolute;
    }
    .e-mail-mDW {
      left: 1.1rem;
      top: 14.2rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.4900000095);
      font-family: Inter, 'Source Sans Pro';
      width: 7.2rem;
      height: 3rem;
      position: absolute;
      white-space: nowrap;
    }
    .ifre-eYC {
      position: absolute;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.4900000095);
      width: 5.3rem;
      height: 3rem;
      left: 1.1rem;
      top: 23.6rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .ifre-tekrar-xYt {
      color: rgba(0, 0, 0, 0.4900000095);
      white-space: nowrap;
      width: 13.1rem;
      top: 32.4rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      left: 1.1rem;
    }
    .auto-group-uky4-GZa {
      top: 40.8rem;
      display: flex;
      align-items: center;
      width: 53.8rem;
      height: 3.2rem;
      position: absolute;
      left: 1.1rem;

      .boy-cm--CCL {
        color: rgba(0, 0, 0, 0.4900000095);
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 28.7rem 0rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .arlk-kg--5X2 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.4900000095);
      }
    }
    .hareketlilik-durmunuzu-seiniz--nwE {
      left: 0.4rem;
      top: 51.5rem;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.4900000095);
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 37rem;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .auto-group-qax6-Dme {
      width: 77rem;
      height: 4.8rem;
      position: absolute;
      left: 0.4rem;
      top: 54.9rem;
      display: flex;
      align-items: flex-end;

      .hareketsiz-whe {
        margin: 0rem 12rem 0.2rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-22-f7r {
        margin-right: 6.3rem;
        width: 4rem;
        height: 4rem;
        border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
        box-sizing: border-box;
        background-color: #f1e4d1;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .az-hareketli-AqJ {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 17.1rem 0.3rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .rectangle-24-ry2 {
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        width: 4rem;
        height: 4rem;
        border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
        box-sizing: border-box;
        background-color: #f1e4d1;
      }
    }
    .auto-group-2tqn-ynk {
      width: 77rem;
      height: 4rem;
      position: absolute;
      left: 0.4rem;
      top: 63.1rem;
      display: flex;
      align-items: center;

      .ortalama-hareketli-Ja8 {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.4rem 0.2rem 0rem;
        font-size: 2.4rem;
      }
      .auto-group-maqc-bZE {
        margin-right: 6.3rem;
        box-sizing: border-box;
        padding: 0.5rem;
        height: 100%;
        border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
        background-color: #f1e4d1;
        flex-shrink: 0;
        width: 4rem;
        border-radius: 1rem;

        .rectangle-27-uZv {
          box-sizing: border-box;
          background-color: rgba(59, 107, 178, 0.5699999928);
          border-radius: 1rem;
          width: 100%;
          height: 3rem;
          border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
        }
      }
      .ortalama-st-hareketli-zrG {
        margin: 0rem 3.6rem 0.4rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-25-K7r {
        height: 4rem;
        border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
        box-sizing: border-box;
        background-color: #f1e4d1;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 4rem;
      }
    }
    .auto-group-fw3n-SiG {
      height: 4rem;
      position: absolute;
      left: 23rem;
      top: 71.6rem;
      display: flex;
      align-items: flex-start;
      width: 28.5rem;

      .fazla-hareketli-jSU {
        flex-shrink: 0;
        margin: 0.1rem 4.3rem 0rem 0rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-26-Fvc {
        border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
        box-sizing: border-box;
        background-color: #f1e4d1;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
