
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-4-gfe {
  padding: 10.8rem 5rem 1.8rem 2.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #f1e4d1;
  box-sizing: border-box;

  .auto-group-bjeg-mh6 {
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 32.6468rem;
    align-items: flex-end;
    display: flex;

    .logout-2-icL {
      margin-bottom: 1.8rem;
      width: 6.8532rem;
      height: 9rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .k-yap-TK2 {
      flex-shrink: 0;
      margin-right: 0.6532rem;
      max-width: 7.3rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-tpn8-Zcx {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 5.4rem 11.5rem 0rem;
    width: 105.6rem;
    align-items: center;
    display: flex;

    .auto-group-3wvr-5rC {
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 5.2rem;
      margin-bottom: 2.5rem;
      padding: 7.2rem 2.1rem 10.2rem 3.2rem;
      align-items: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);

      .kg-verdin-YDz {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 10.9rem 0.5rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-seax-dWL {
        border: solid 0 #000000;
        box-sizing: border-box;
        background-color: #d9d9d9;
        border-radius: 5rem;
        flex-shrink: 0;
        margin: 0rem 4.9rem 0rem 5rem;
        width: calc(100% - 9.9rem);

        .rectangle-29-9Dn {
          border: solid 0 #000000;
          box-sizing: border-box;
          background-color: #73f980;
          border-radius: 5rem;
          width: 6.2rem;
          height: 3.4rem;
        }
      }
      .auto-group-vakc-2Ha {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .kg-nGk {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 73.3rem 0.2rem 0rem;
          font-size: 3.6rem;
        }
        .kg-6oE {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 3.6rem;
        }
      }
    }
    .auto-group-auqz-h2L {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
      border-radius: 5.2rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.7rem 5.8rem;
      width: 100%;
      height: 40.7rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .balang-kilosu-kg-1050-gncel-kilo-kg-1030-hedef-kilo-kg-880-gnlk-alman-gereken-kalori-kcal-2387-boycm-193-1Yp {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 63.4rem;
        font-size: 3.2rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-kltc-kep {
    height: 13.7rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 4.2rem 0.4rem 0rem;
    width: 13.3rem;

    .rectangle-19-sjS {
      object-fit: cover;
      vertical-align: top;
      width: 13.3rem;
      height: 10.6rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .profil-pPn {
      font-size: 3.2rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 7.8rem;
      position: absolute;
      left: 3.1rem;
      top: 9.8rem;
      height: 3.9rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-2hcx-KLY {
    margin-bottom: 0.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .icons8-home-50-3-ETW {
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 0.1rem;
      width: 9rem;
      height: 8.9rem;
    }
    .ana-sayfa-Arx {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 400;
    }
  }
}
