
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-1-c8L {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: rgba(241, 228, 209, 0.8999999762);
}
.desktop-1-c8L .auto-group-imbj-cGk {
  width: 147.9rem;
  height: 45.6rem;
  position: absolute;
  left: 1.6rem;
  top: 14.4rem;
  display: flex;
  align-items: center;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-rtel-3Fa {
  box-sizing: border-box;
  padding: 38rem 5.5rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-rtel-3Fa .kahvalt-uoa {
  margin: 0rem 11.3rem 1.7rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-rtel-3Fa .kahvalt-uoa .kahvalt-uoa-sub-0 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-rtel-3Fa .kahvalt-uoa .kahvalt-uoa-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-rtel-3Fa .icons8-add-50-2-1-7aC {
  margin-left: 55px;
  width: 6.4rem;
  height: 7.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU {
  box-sizing: border-box;
  margin-left: 100px;
  padding: 1.1rem 5rem 1.7rem 3rem;
  width: 105.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
  border-radius: 5.2rem;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-ur4c-ukx {
  margin: 0rem 33.5rem 0.6rem 34rem;
  box-sizing: border-box;
  padding: 6.9rem 2.6rem 8.8rem 2.6rem;
  width: calc(100% - 67.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-2.png');
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-ur4c-ukx .item-1150-BiU {
  margin: 0rem 14.5rem 1.1rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-ur4c-ukx .item-1150-BiU .item-1150-BiU-sub-0 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-ur4c-ukx .item-1150-BiU .item-1150-BiU-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-ur4c-ukx .kalan-WGt {
  margin-right: 3rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2102272246;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-ur4c-ukx .kalan-WGt .kalan-WGt-sub-0 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-ur4c-ukx .kalan-WGt .kalan-WGt-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-r6z8-ag4 {
  margin: 0rem 8.2rem 1.6rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-r6z8-ag4 .karbonhidrat-gDJ {
  margin-right: 23.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-r6z8-ag4 .protein-zjn {
  margin-right: 29.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-r6z8-ag4 .ya-YFW {
  margin-bottom: 0.2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-615w-dGx {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-615w-dGx .auto-group-d7ps-Mik {
  margin-right: 15.2rem;
  width: 22.6rem;
  height: 100%;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #a0a0a0;
  border-radius: 5.2rem;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-615w-dGx .auto-group-d7ps-Mik .rectangle-7-6gL {
  width: 10.7rem;
  height: 2.4rem;
  background-color: #73f980;
  border-radius: 5.2rem;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-615w-dGx .auto-group-afa4-EZa {
  margin-right: 14.6rem;
  width: 22.6rem;
  height: 100%;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #a0a0a0;
  border-radius: 5.2rem;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-615w-dGx .auto-group-afa4-EZa .rectangle-8-Nvg {
  width: 10.2rem;
  height: 2.4rem;
  background-color: #73f980;
  border-radius: 5.2rem;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-615w-dGx .auto-group-3rq8-JZS {
  width: 22.6rem;
  height: 100%;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #a0a0a0;
  border-radius: 5.2rem;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-615w-dGx .auto-group-3rq8-JZS .rectangle-9-2EY {
  width: 17.2rem;
  height: 2.4rem;
  background-color: #73f980;
  border-radius: 5.2rem;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-8vrg-w6c {
  margin-right: 5rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-8vrg-w6c .g-tGk {
  margin: 0rem 20.7rem 0.4rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-8vrg-w6c .g-o8p {
  margin-right: 20.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-imbj-cGk .auto-group-8qet-1vU .auto-group-8vrg-w6c .g-JLU {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa {
  width: 184.4rem;
  height: 20.5rem;
  position: absolute;
  left: 2.6rem;
  top: 87.6rem;
  display: flex;
  align-items: center;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-ts56-rmJ {
  margin: 0rem 127.447rem 1.9rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-ts56-rmJ .logout-3-AX6 {
  margin-bottom: 1.8rem;
  width: 6.8532rem;
  height: 9rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-ts56-rmJ .k-yap-RC8 {
  margin-right: 0.6532rem;
  max-width: 7.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-t1bj-KHW {
  margin: 2.1rem 2.7rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-t1bj-KHW .rectangle-10-Ddn {
  margin-right: 0.3rem;
  width: 10.2rem;
  height: 10.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-t1bj-KHW .yemek-nerisi-al-Mjz {
  max-width: 13.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-bxms-tE8 {
  margin: 4.5rem 4.2rem 2.3rem 0rem;
  width: 13.3rem;
  height: calc(100% - 6.8rem);
  position: relative;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-bxms-tE8 .rectangle-2-QiG {
  width: 13.3rem;
  height: 10.6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-bxms-tE8 .profil-wiC {
  width: 7.8rem;
  height: 3.9rem;
  position: absolute;
  left: 3.1rem;
  top: 9.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-mwnx-p1J {
  margin: 5.4rem 0rem 2.3rem 0rem;
  height: calc(100% - 7.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-mwnx-p1J .icons8-home-50-1-YT6 {
  margin-left: 0.1rem;
  width: 9rem;
  height: 8.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mkma-jwa .auto-group-mwnx-p1J .ana-sayfa-Ube {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-qmps-o88 {
  width: 36.8rem;
  height: 7.6rem;
  position: absolute;
  left: 1.6rem;
  top: 61.4rem;
  display: flex;
  align-items: center;
}
.desktop-1-c8L .auto-group-qmps-o88 .le-yemei-Uzx {
  margin: 0rem 8.8rem 0.4rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-qmps-o88 .icons8-add-50-2-2-BeU {
  width: 6.4rem;
  height: 7.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mtix-6Fe {
  width: 36.8rem;
  height: 7.6rem;
  position: absolute;
  left: 1.6rem;
  top: 70.4rem;
  display: flex;
  align-items: flex-start;
}
.desktop-1-c8L .auto-group-mtix-6Fe .attrmalk-phS {
  margin: 0.3rem 11.7rem 0rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-mtix-6Fe .icons8-add-50-2-3-jpQ {
  width: 6.4rem;
  height: 7.6rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-c8L .auto-group-tpcc-Umz {
  width: 37rem;
  height: 7.6rem;
  position: absolute;
  left: 1.4rem;
  top: 79.1rem;
}
.desktop-1-c8L .auto-group-tpcc-Umz .akam-yemei-Ptx {
  width: 30.7rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-c8L .auto-group-tpcc-Umz .akam-yemei-Ptx .akam-yemei-Ptx-sub-0 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-c8L .auto-group-tpcc-Umz .akam-yemei-Ptx .akam-yemei-Ptx-sub-1 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #020323;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-c8L .auto-group-tpcc-Umz .icons8-add-50-2-4-PR6 {
  width: 6.4rem;
  height: 7.6rem;
  cursor: pointer;
  position: absolute;
  left: 30.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
