
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-Cn8 {
  box-sizing: border-box;
  padding-right: 10.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f1e4d1;
}
.frame-1-Cn8 .auto-group-s7kg-WH2 {
  margin-right: 9.8rem;
  width: 90rem;
  height: 108rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-Cn8 .auto-group-s7kg-WH2 .rectangle-18-3Gx {
  width: 18rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.frame-1-Cn8 .auto-group-s7kg-WH2 .d47427e7-6547-4c3d-98c1-49933c1359b2-1-ygQ {
  width: 90rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-1-Cn8 .auto-group-usy4-Vue {
  margin-top: 2.6rem;
  width: 81.4rem;
  height: 77.4rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-Cn8 .auto-group-usy4-Vue .auto-group-avy2-QFv {
  width: 75.6rem;
  height: 8.4rem;
  position: absolute;
  left: 5.8rem;
  top: 0;
  display: flex;
  align-items: center;
}
.frame-1-Cn8 .auto-group-usy4-Vue .auto-group-avy2-QFv .auto-group-3gmz-iXW {
  margin-right: 20.4rem;
  width: 27.6rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
  flex-shrink: 0;
}
.frame-1-Cn8 .auto-group-usy4-Vue .auto-group-avy2-QFv .auto-group-i3gx-7Ze {
  width: 27.6rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
  flex-shrink: 0;
}
.frame-1-Cn8 .auto-group-usy4-Vue .auto-group-hasn-xqA {
  width: 27.6rem;
  height: 8.4rem;
  position: absolute;
  left: 23.9rem;
  top: 69rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
}
.frame-1-Cn8 .auto-group-usy4-Vue .line-10-dAc {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 32rem;
  background-color: #000000;
}
.frame-1-Cn8 .auto-group-usy4-Vue .line-11-Za4 {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 52.8rem;
  background-color: #000000;
}
.frame-1-Cn8 .auto-group-usy4-Vue .e-mail-u88 {
  width: 10.8rem;
  height: 4.4rem;
  position: absolute;
  left: 2.2rem;
  top: 24.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-Cn8 .auto-group-usy4-Vue .ifre-mg8 {
  width: 7.9rem;
  height: 4.4rem;
  position: absolute;
  left: 2.2rem;
  top: 45.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
