
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-4-gfe {
  box-sizing: border-box;
  padding: 10.8rem 5rem 1.8rem 2.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #f1e4d1;
}
.frame-4-gfe .auto-group-bjeg-mh6 {
  margin-right: 32.6468rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-bjeg-mh6 .logout-2-icL {
  margin-bottom: 1.8rem;
  width: 6.8532rem;
  height: 9rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-bjeg-mh6 .k-yap-TK2 {
  margin-right: 0.6532rem;
  max-width: 7.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx {
  margin: 0rem 5.4rem 11.5rem 0rem;
  width: 105.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-3wvr-5rC {
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  padding: 7.2rem 2.1rem 10.2rem 3.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
  border-radius: 5.2rem;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-3wvr-5rC .kg-verdin-YDz {
  margin: 0rem 0rem 10.9rem 0.5rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-3wvr-5rC .auto-group-seax-dWL {
  margin: 0rem 4.9rem 0rem 5rem;
  width: calc(100% - 9.9rem);
  border: solid 0 #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-3wvr-5rC .auto-group-seax-dWL .rectangle-29-9Dn {
  width: 6.2rem;
  height: 3.4rem;
  border: solid 0 #000000;
  box-sizing: border-box;
  background-color: #73f980;
  border-radius: 5rem;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-3wvr-5rC .auto-group-vakc-2Ha {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-3wvr-5rC .auto-group-vakc-2Ha .kg-nGk {
  margin: 0rem 73.3rem 0.2rem 0rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-3wvr-5rC .auto-group-vakc-2Ha .kg-6oE {
  margin-top: 0.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-auqz-h2L {
  box-sizing: border-box;
  padding: 1.7rem 5.8rem;
  width: 100%;
  height: 40.7rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%);
  border-radius: 5.2rem;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-tpn8-Zcx .auto-group-auqz-h2L .balang-kilosu-kg-1050-gncel-kilo-kg-1030-hedef-kilo-kg-880-gnlk-alman-gereken-kalori-kcal-2387-boycm-193-1Yp {
  max-width: 63.4rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.frame-4-gfe .auto-group-kltc-kep {
  margin: 0rem 4.2rem 0.4rem 0rem;
  width: 13.3rem;
  height: 13.7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-kltc-kep .rectangle-19-sjS {
  width: 13.3rem;
  height: 10.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-4-gfe .auto-group-kltc-kep .profil-pPn {
  width: 7.8rem;
  height: 3.9rem;
  position: absolute;
  left: 3.1rem;
  top: 9.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-4-gfe .auto-group-2hcx-KLY {
  margin-bottom: 0.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-2hcx-KLY .icons8-home-50-3-ETW {
  margin-left: 0.1rem;
  width: 9rem;
  height: 8.9rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-4-gfe .auto-group-2hcx-KLY .ana-sayfa-Arx {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
