
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-2-kbv {
  box-sizing: border-box;
  padding-right: 10.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #f1e4d1;
}
.frame-2-kbv .auto-group-qcmj-ty2 {
  margin-right: 9.3rem;
  width: 90rem;
  height: 108rem;
  position: relative;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-qcmj-ty2 .rectangle-18-2pL {
  width: 18rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.frame-2-kbv .auto-group-qcmj-ty2 .d47427e7-6547-4c3d-98c1-49933c1359b2-1-P96 {
  width: 90rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-kbv .auto-group-det6-WjW {
  margin-bottom: 2.7rem;
  width: 81.9rem;
  height: 88.7rem;
  position: relative;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-eywn-1wA {
  width: 75.6rem;
  height: 8.4rem;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-eywn-1wA .auto-group-y4fe-Mk8 {
  margin-right: 20.4rem;
  width: 27.6rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-eywn-1wA .auto-group-srkg-a76 {
  width: 27.6rem;
  height: 100%;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-hqly-SQC {
  width: 27.6rem;
  height: 8.4rem;
  position: absolute;
  left: 23.9rem;
  top: 80.3rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
}
.frame-2-kbv .auto-group-det6-WjW .line-10-GPE {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 19.2rem;
  background-color: #000000;
}
.frame-2-kbv .auto-group-det6-WjW .line-11-1Lp {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 28.6rem;
  background-color: #000000;
}
.frame-2-kbv .auto-group-det6-WjW .line-12-x1A {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 37.4rem;
  background-color: #000000;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-74oe-ghr {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 46rem;
  border-top: solid 0.1rem #000000;
  box-sizing: border-box;
}
.frame-2-kbv .auto-group-det6-WjW .e-mail-mDW {
  width: 7.2rem;
  height: 3rem;
  position: absolute;
  left: 1.1rem;
  top: 14.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-kbv .auto-group-det6-WjW .ifre-eYC {
  width: 5.3rem;
  height: 3rem;
  position: absolute;
  left: 1.1rem;
  top: 23.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-kbv .auto-group-det6-WjW .ifre-tekrar-xYt {
  width: 13.1rem;
  height: 3rem;
  position: absolute;
  left: 1.1rem;
  top: 32.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-uky4-GZa {
  width: 53.8rem;
  height: 3.2rem;
  position: absolute;
  left: 1.1rem;
  top: 40.8rem;
  display: flex;
  align-items: center;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-uky4-GZa .boy-cm--CCL {
  margin: 0.2rem 28.7rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-uky4-GZa .arlk-kg--5X2 {
  margin-bottom: 0.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .hareketlilik-durmunuzu-seiniz--nwE {
  width: 37rem;
  height: 3rem;
  position: absolute;
  left: 0.4rem;
  top: 51.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-qax6-Dme {
  width: 77rem;
  height: 4.8rem;
  position: absolute;
  left: 0.4rem;
  top: 54.9rem;
  display: flex;
  align-items: flex-end;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-qax6-Dme .hareketsiz-whe {
  margin: 0rem 12rem 0.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-qax6-Dme .rectangle-22-f7r {
  margin-right: 6.3rem;
  width: 4rem;
  height: 4rem;
  border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
  box-sizing: border-box;
  background-color: #f1e4d1;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-qax6-Dme .az-hareketli-AqJ {
  margin: 0rem 17.1rem 0.3rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-qax6-Dme .rectangle-24-ry2 {
  margin-bottom: 0.8rem;
  width: 4rem;
  height: 4rem;
  border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
  box-sizing: border-box;
  background-color: #f1e4d1;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-2tqn-ynk {
  width: 77rem;
  height: 4rem;
  position: absolute;
  left: 0.4rem;
  top: 63.1rem;
  display: flex;
  align-items: center;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-2tqn-ynk .ortalama-hareketli-Ja8 {
  margin: 0rem 2.4rem 0.2rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-2tqn-ynk .auto-group-maqc-bZE {
  margin-right: 6.3rem;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 4rem;
  height: 100%;
  border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
  background-color: #f1e4d1;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-2tqn-ynk .auto-group-maqc-bZE .rectangle-27-uZv {
  width: 100%;
  height: 3rem;
  border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 1rem;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-2tqn-ynk .ortalama-st-hareketli-zrG {
  margin: 0rem 3.6rem 0.4rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-2tqn-ynk .rectangle-25-K7r {
  width: 4rem;
  height: 4rem;
  border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
  box-sizing: border-box;
  background-color: #f1e4d1;
  border-radius: 1rem;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-fw3n-SiG {
  width: 28.5rem;
  height: 4rem;
  position: absolute;
  left: 23rem;
  top: 71.6rem;
  display: flex;
  align-items: flex-start;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-fw3n-SiG .fazla-hareketli-jSU {
  margin: 0.1rem 4.3rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-kbv .auto-group-det6-WjW .auto-group-fw3n-SiG .rectangle-26-Fvc {
  width: 4rem;
  height: 4rem;
  border: solid 0.5rem rgba(0, 0, 0, 0.2599999905);
  box-sizing: border-box;
  background-color: #f1e4d1;
  border-radius: 1rem;
  flex-shrink: 0;
}
.e-mail{
  width: 10.8rem;
  height: 4.4rem;
  margin-top: 150px;
  left: 2.2rem;
  top: 24.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 1000%;
  background-color: rgb(241, 228, 209, 0.8999999762);
  border: none;
  outline: none;
}
.sifre{
  width: 7.9rem;
  height: 4.4rem;
  
  left: 2.2rem;
  top: 45.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  background-color: rgb(241, 228, 209, 0.8999999762);
  border: none;
  outline: none;
  margin-top: 60px;
}
.sifre-tekrar{
  width: 7.9rem;
  height: 4.4rem;
  margin-top: 60px;
  left: 2.2rem;
  top: 45.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  background-color: rgb(241, 228, 209, 0.8999999762);
  border: none;
  outline: none;
}
.boy{
  width: 7.9rem;
  height: 4.4rem;
  margin-top: 60px;
  margin-bottom: 60px;
  left: 2.2rem;
  top: 45.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  background-color: rgb(241, 228, 209, 0.8999999762);
  border: none;
  outline: none;
}
.agirlik{
  width: 7.9rem;
  height: 4.4rem;
  margin-top: 60px;
  left: 2.2rem;
  top: 45.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  background-color: rgb(241, 228, 209, 0.8999999762);
  border: none;
  outline: none;
}
.durum{
margin-top: 35px;
background-color: rgb(241, 228, 209, 0.8999999762);
width: auto;
height: auto;
padding: 20px;
font-size: 2.6rem;
outline: none;
border-radius: 6rem;
font-family: Inter, 'Source Sans Pro';
}
.submit-button{
  margin-left: 550px;
  margin-top: -85px;
  width: 27.6rem;
  height: 8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #f1e4d1;
  box-sizing: border-box;
  background-color: rgba(59, 107, 178, 0.5699999928);
  border-radius: 6rem;
  flex-shrink: 0;
  cursor: pointer;
}

.gender-label {
  
  margin-right: 10px; 
}

.gender-input {
  
  vertical-align: middle; 
}


.username {
  
  width: 7.9rem;
  height: 4.4rem;
  margin-top: 50px;
  left: 2.2rem;
  top: 45.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  background-color: rgb(241, 228, 209, 0.8999999762);
  border: none;
  outline: none;
}
.gender-label {
 
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  font-size: 3.6rem;
  font-weight: 400;
  font-size: 20px;
  margin-left: 50px;
}

.gender-input {
  
  font-size: 20px;
  margin-right: 50px;
  
}
.gender-title{
  font-size:30px ;
  color: rgba(0, 0, 0, 0.4900000095);
  font-family: Inter, 'Source Sans Pro';
  font-size: 3.6rem;
  font-weight: 400;
}