
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-3-YCC {
  box-sizing: border-box;
  padding: 6.3rem 0rem 1.8rem 2.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f1e4d1;
}
.frame-3-YCC .auto-group-rkgu-eW8 {
  margin: 0rem 14.4rem 5.2rem 9.2rem;
  width: calc(100% - 23.6rem);
  height: 10.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0 #000000;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5699999928) -0%, #3b6bb2 100%, #3b6bb2 100%);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-q2ut-3oA {
  margin: 0rem 5.2rem 0rem 2.8rem;
  width: calc(100% - 8rem);
  display: flex;
  column-gap: 25.6rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-q2ut-3oA .oip-1-AMz {
  width: 43.4rem;
  height: 46.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-q2ut-3oA .yourt-1-hsi {
  width: 43.4rem;
  height: 46.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-q2ut-3oA .salata-1-3wa {
  margin-bottom: 0.5rem;
  width: 43.4rem;
  height: 46.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-ckit-aAp {
  margin: 0rem 0rem 3.6rem 2.7rem;
  width: calc(100% - 2.7rem);
  height: 4.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-ckit-aAp .auto-group-d4ag-TEc {
  margin-right: 3.7rem;
  width: 145.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-ckit-aAp .auto-group-d4ag-TEc .izgara-tavuk-2-dilim-200g-xhA {
  width: 98.6rem;
  height: 4.9rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-3-YCC .auto-group-ckit-aAp .auto-group-d4ag-TEc .yourt100g-FAU {
  width: 66.5rem;
  height: 4.9rem;
  position: absolute;
  left: 78.7rem;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-3-YCC .auto-group-ckit-aAp .salata1-kase-8EG {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-rnsn-GLU {
  margin: 0rem 17.2rem 5.6rem 15.4rem;
  width: calc(100% - 32.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-rnsn-GLU .kcal-Pvt {
  margin-right: 56.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-rnsn-GLU .kcal-KZe {
  margin-right: 53.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-rnsn-GLU .kcal-SPN {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS {
  margin-right: 5rem;
  width: calc(100% - 5rem);
  height: 18.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-1dxg-6D2 {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-1dxg-6D2 .logout-1-rCC {
  margin-bottom: 1.8rem;
  width: 6.8532rem;
  height: 9rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-1dxg-6D2 .k-yap-z3W {
  margin-right: 0.6532rem;
  max-width: 7.3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-qf8g-JZz {
  box-sizing: border-box;
  padding: 4.5rem 0rem 0.4rem 143.647rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-qf8g-JZz .auto-group-szme-qK2 {
  margin-right: 4.2rem;
  width: 13.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-qf8g-JZz .auto-group-szme-qK2 .rectangle-18-xPe {
  width: 13.3rem;
  height: 10.6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-qf8g-JZz .auto-group-szme-qK2 .profil-rjv {
  width: 7.8rem;
  height: 3.9rem;
  position: absolute;
  left: 3.1rem;
  top: 9.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-qf8g-JZz .auto-group-9v6q-uTJ {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-qf8g-JZz .auto-group-9v6q-uTJ .icons8-home-50-2-4qz {
  margin-left: 0.1rem;
  width: 9rem;
  height: 8.9rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-3-YCC .auto-group-xjkv-MFS .auto-group-qf8g-JZz .auto-group-9v6q-uTJ .ana-sayfa-Nbn {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
